.bg-img {
    background-image: url(../images/img.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: 600px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
    .bg-img {
        background-image: url(../images/img@2x.png);
    }
}