* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Heebo';
    src: url("../fonts/Heebo-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Heebo';
    src: url("../fonts/Heebo-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Heebo';
    src: url("../fonts/Heebo-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Heebo';
    src: url("../fonts/Heebo-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Heebo';
    src: url("../fonts/Heebo-Bold.ttf") format("truetype");
    font-weight: 700;
}

body {
    font-family: 'Heebo';
    background: white;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 1;
    background: white;
}

.header .row {
    padding: 27px 60px;
}

.header .row .navbar__ul {
    display: flex;
    justify-content: end;
    gap: 33px;
}

.header .row a {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
}

.header .row a {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
}

.header .row a:hover {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: red;
}


/* .section-3 */

.section-3 .row .card {
    margin-left: 280px;
    padding: 10px 0px;
}

.section-3 .row .card-2 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 285px;
    margin-top: 12px;
    gap: 47px;
}

.section-3 .row .card h3 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    /* Dark Color */
    color: #21243D;
}

.section-3 .row .card-2 .design-dashbord {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.section-3 .row .card-2 .design-dashbord .design__word h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    /* identical to box height */
    /* Dark Color */
    color: #21243D;
}

.section-3 .row .card-2 .design-dashbord .design__word h2:hover {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    /* identical to box height */
    /* Dark Color */
    color: rgb(226, 207, 112);
}

.section-3 .design-dashbord .dash2020 {
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
    width: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3 .design-dashbord .dashbord-2020 {
    display: flex;
    gap: 26px;
    padding: 20px 0px;
}

.section-3 .row .design-dashbord .design__word p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* Dark Color */
    color: #21243D;
    width: 594px;
}

.section-3 .design-dashbord .dash_word {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* Light */
    color: #8695A4;
}


/* footer */

.footer .row {
    display: flex;
    flex-direction: column;
    gap: 26px;
    justify-content: center;
    align-items: center;
    margin-top: 134px;
}

.footer .row .card {
    display: flex;
    gap: 35px;
}

.footer .row .card-2 {
    padding-bottom: 54px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    /* Dark */
    color: #21243D;
}


/* main scroll */

::-webkit-scrollbar {
    width: 15px;
    /* height: 50px; */
}

::-webkit-scrollbar-track {
    background: rgb(0, 255, 17);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #062519;
    border-radius: 10px;
}